@media screen and (max-width: 885px) {
    .page1_text h1 {
      font-size: 5rem !important; /* Font size for medium screens */
    }
  
    .page1_text h2 {
      font-size: 2.5rem !important; /* Font size for medium screens */
    }
    .prloader-button{
        margin-top: 5rem;
    }
    .page1_text{
        text-align: center;
    }
    .loader-back{
        top: 60%;
    }
    .page1_above{
        flex-direction: column;
        height: 80% !important;
    }
    .page1{
        height: 100vh !important;
    }
    .page1page2parent{
        height: 200vh !important;
    }
    .page1_above{
        height: 100% !important;
        padding: 5rem 0rem 5rem 0rem;
    }
    .page1_above_photo{
        height: 50% !important;
    }
    .page_2_parent{
        margin-top: 1rem !important;
        height: 100vh !important;
    }
    .line{
        bottom: 0px;
    }
    .page_2{
        padding-top: 2rem;
        height: 100%;
        display: flex;
        margin: auto;
        justify-content: center;
    }
    .page1_bellow_parent{
        height: 90%;
    }
    .page1_bellow{
        flex-direction: column;
    }
    .custom-container{
        width: 100%;
    }
    .project{
        text-align: center;
        height: 50% !important;
    }
    .project h1{
        font-size: 6rem !important;
    }
    .skills{
        text-align: center;
        height: 25% !important;
    }
    .skills h1{
        font-size: 6rem !important;
    }
    .page1_bellow_right{
        height: 25% !important;
        flex-direction: row;
        width: 100% !important;
    }
    .certifications{
        height: 100% !important;
        width: 50% !important;
    }
    .resume{
        height: 100% !important;
        width: 50% !important;
    }
    .page2{
        flex-direction: column;
        gap: 1rem;
    }
    .card_array_parent{
        display: none;
    }
    .certificate_group{
        flex-direction: column !important;
        width: 100%;
        gap: 2rem;
    }
    .card{
        width: 100% !important;
        height: fit-content !important;
        padding-bottom: 4rem !important;
    }
    #page6{
        display: flex !important;
        flex-direction: column !important;
    }
    #page7{
        flex-direction: column !important;
    }
    .resume_experiance , .resume_education{
        min-width: 100% !important;
    }
    .contact-right{
        width: 100%;
        flex-direction: row !important;
        flex-wrap: wrap;
        padding: 0rem 1rem 0rem 1rem !important;

    }
    .topnav{
        left: 20% !important;
    }
    .page_2_text{
        width: 100% !important;
    }
    .project_textarea {
        min-height: 50%;
        height: fit-content;
        min-width: fit-content;
    }
    .Projectname h1 {
        font-size: 2.5rem !important;
    }
    .Project_skills h2 {
        font-size: 1.8rem !important;
    }
    .project_despription p {
        font-size: 1.5rem !important;
    }
    .main_video {
        object-position: top;
    }
    .skill_card {
        width: 100% !important;
        min-width: 300px !important;
    }
  }

  @media screen and (max-width: 500px) {
    .topnav{
        left: 30% !important;
    }
    .custom-container h3{
        font-size: 1.8rem !important;
    }
    .page_2_text{
        width: 100% !important;
    }
    .project_textarea {
        min-height: 50%;
        height: fit-content;
        min-width: fit-content;
    }
    .Projectname h1 {
        font-size: 2.3rem !important;
    }
    .Project_skills h2 {
        font-size: 1.4rem !important;
    }
    .project_despription p {
        font-size: 1.2rem !important;
    }
    .main_video {
        object-position: top;
    }
    .skill_card h1 {
        font-size: 2.3rem !important;
    }
    .skill_card h2 {
        font-size: 1.2rem !important;
        text-shadow: none !important;
    }
    .page5wraper {
        padding: 1rem 0rem 1rem 0rem !important;
    }
    #page7 {
        padding: 0rem !important;
    }
    .contact-info {
        flex-direction: column !important;
    }
    .textarea {
        margin: 1rem 0rem 0rem 0rem !important;
    }
    #page4{
        padding: 1rem 1rem 1rem 1rem;
    }
    .skill_card {
        width: 100% !important;
        min-width: 300px !important;
    }
  }
  @media screen and (max-height: 610px){
    .page2 h4{
        font-size: 1.2rem;
    }
    .Projectname h1{
        font-size: 3rem;
    }
    .Project_skills h2{
        font-size: 2rem;
    }
    .project_despription p{
        font-size: 1rem;
    }
  }
  @media (pointer:coarse) {
    .cursor_pointer{
        display: none;
    }
    .mask1{
        display: none;
    }
    }