.page_3{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #5941A9;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}
#page3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_project{
    position: relative;
    height: 100%;
    max-width: 1200px;
    width: 100%;
    z-index: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 0.5rem solid #02020b;
    border-radius: 35px;
    z-index: 1;
}
.custom_card {
  background-image: url("https://random.imagecdn.app/500/150");
  background-repeat: no-repeat;
  background-size: cover;
  object-position: center center;
  width: var(--side) !important;
  height: var(--side) !important;
  border-radius: 20px;
  padding: 10px;
  flex-grow: 0; 
  flex-shrink: 0;
  z-index: 1;
}
.card_array_parent{
    position: absolute;
    bottom: -2rem;
    right: -1rem;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    z-index: 1;
    background-color: var(--red);
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 2;

}
.card_array {
    position: relative;
  height: fit-content;
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-x: hidden;
  width: var(--widthArray);
  border-radius: 20px;
  z-index: inherit;
}
.button_project_card{
    background-color: rgba(0, 0, 0, 0.89);
    color: wheat;
    border: 1px solid white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.button_project_card img{
    height: 40px;
}
.prev{
    left: 1rem;
}
.next{
    right: 1rem;
}
.project_textarea {
    height: 60%;
    min-width: var(--widthArray);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    background-color: rgba(2, 2, 11, 0.545); /* Adjust transparency as needed */
    border-top-right-radius: 35px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: white;
    padding: 1rem;
  
    /* Standard syntax */
    backdrop-filter: blur(5px);
  
    /* Prefix for Safari */
    -webkit-backdrop-filter: blur(5px);
  
    /* Fallback for older browsers */
    background-color: rgba(2, 2, 11, 0.8); /* Adjust transparency as needed */
  }
  
.project_textarea span{
    width: 100%;
}
.Projectname h1{
    font-size: 4rem;
    text-align: center;
}
.Project_skills h2{
    font-size: 2.5rem;
    text-align: center;
    color: var(--yellow);
}
.project_despription p{
    font-size: 1.5rem;
    text-align: center;
}
.button_space{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: absolute;
bottom: 0rem;
left: 0rem;
}
.main_video{
    object-fit: contain;
    width: inherit;
    height: inherit;
    background-color: black;
    border-radius: 26px;
}
.card-video{
    height: calc(var(--side) - 20px);
    width: calc(var(--side) - 20px);
    object-fit: cover;
    border-radius: inherit;
}
.colored{
    color: var(--yellow);
}