.page5 {
  position: relative;
  min-height: 100vh;
  height: fit-content;
  width: 100%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.page5wraper{
  padding: 3rem;
}
.card {
  --cardImageHeight: 18rem;
  --bs-card-spacer-y: 0rem;
  --bs-card-spacer-x: 0rem;
  --bs-card-title-spacer-y: 1rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: var(--bs-border-width);
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: 35px;
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(
    35px - (var(--bs-card-cap-padding-x))
  );
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: 42rem;
  --bs-card-color: ;
  --bs-card-bg: var(--bs-body-bg);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height) !important;
  color: var(--bs-body-color);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
  padding: 1rem;
  color: var(--black);
  box-shadow: var(--blueshadow);
  text-overflow: ellipsis;
}
.card-body {
  padding-top: 1rem;
  max-height: calc(var(--bs-card-height) - var(--cardImageHeight) - 2rem) !important;
  overflow: hidden; /* Prevent overflow */
  white-space: normal; /* Ensure text wraps */
  text-overflow: clip; /* Handle text overflow */
}
.card-body .button{
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: var(--black);
  background-color: var(--white);
}
.anchour-btn{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  font-family: Bebas Neue !important;
  min-width:fit-content ;
  padding: 10px 0.5rem 0rem 0.5rem;
}
.anchour-btn:visited{
  background-color: var(--red);
  color: var(--white);
}
.card-body .button:hover{
  background-color: var(--yellow);
}
.card-body h5 {
  font-size: 2rem;
}
.card-body p {
  font-size: 1.3rem;
  line-height: 1.5rem;
}
.caertificates_parent {

}

.certificate_group {
  display: flex; /* Override Bootstrap grid */
  flex-wrap: nowrap; /* Optional to prevent line breaks */
  align-items: center;
  justify-content: center;
  gap: 3%;
  width: 100% !important;
  position: relative;
  padding: 1rem;
}
.carousel-control-next , .carousel-control-prev{
  background-color: rgba(0, 0, 0, 0.89);
  opacity: 1;
    color: wheat;
    border: 1px solid white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    top: 50%;
}
.carousel-control-next{
  right: 1rem;
}
.carousel-control-prev{
  left: 1rem;
}
.carousel-control-next:hover{
  transition: none;
  opacity: 1;
}
.carousel-indicators [data-bs-target]{
  background-color: var(--black);
}
.carousel-indicators{
  position: absolute;
  bottom: -5rem;
}

.card-img, .card-img-top {
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: var(--bs-card-inner-border-radius);
  height: var(--cardImageHeight) !important;
  object-fit: cover;
  background-color: var(--black);
}